* {
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --raleway: Raleway, sans-serif;
    --open-sans: Open Sans, sans-serif;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/*header*/

header {
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
    position: sticky;
}

header div {
    display: flex;
    justify-content: space-between;
}

.logo {
    align-self: center;
    font-family: var(--raleway);
    font-size: 32px;
    font-weight: 300;
    color: var(--color-primary);
    text-decoration: none;
}

.header-nav {
    display: flex;
    justify-content: space-around;
}

.header-nav a {
    display: inline-flex;
    padding: 28px 12px 27px 12px;
    margin: 0 35.5px 0 35.5px;
    font-family: var(--raleway);
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3.28px;
    color: var(--color-grey);
    text-decoration: none;
}

.header-nav a:hover {
    border-bottom: 4px solid var(--color-primary);
    padding-bottom: 23px;
    color: var(--color-black);
}

/*main*/
/*main-opening*/

.main-opening {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 70px);
    text-align: center;
}

.main-opening-header{
    font-family: var(--raleway);
    font-size: 49px;
}

.main-opening-description {
    font-family: var(--open-sans);
    margin: 20px 0 60px;
}

.main-opening-img {
    position: relative;
    bottom: -100px;
}

/*main-statistics*/

/*btn*/

.main-btn {
    padding: 22px 157px 23px;
    border-radius: 40px;
    background: var(--color-primary);
    font-family: var(--open-sans);
    color: var(--color-white);
    text-decoration: none;
}