* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
}

h1 {
  font-family: $raleway;
  font-size: 49px;
}

h2 {
  font-family: $raleway;
  font-size: 36px;
}