.benefits {
  padding: 105px;
  background-color: $color-light-grey;
  display: flex;
  justify-content: space-between;

  &__article {
    padding: 0 20px 0 36px;
    margin: 37px;
    max-width: 1124px;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E8E9ED;
    border-radius: 5px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 416px;
    }
  }

  p {
    font-family: $open-sans;
    margin: 30px 0 50px;
  }

  &__article-last {
    margin: 37px;
    max-width: 1124px;
    display: flex;
    justify-content: space-between;
    position: center;
  }

  &__article-last-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 632px;
    background-color: $color-white;
    border: 1px solid #E8E9ED;
    padding: 0 35px;
    border-radius: 5px;
  }
}

.line {
  height: 4px;
  width: 328px;
}

.line-red {
  background-color: $color-redish;
}

.line-blue {
  background-color: $color-primary;
}

.line-green {
  background-color: $color-green;
}

.macbook {
  align-self: center;
  height: 219px;
  position: relative;
  z-index: 2;
}

.macbook-rectangle {
  margin: 113px 98px 38px;
  position: relative;
}

.macbook-rectangle::before{
  content: "";
  width: 180px;
  height: 180px;
  background-color: $color-redish;
  display: block;
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
}

.iphon {
  align-self: center;
  width: 426px;
  z-index: 2;
}

.iphon-circle {
  position: relative;
  margin: 29px 34px 13px;
}

.iphon-circle::before {
  content: "";
  width: 320px;
  height: 320px;
  background-color: $color-primary;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -20px;
}

.trumpet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 370px;
  background-color: $color-green;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}

.trumpet img {
  width: 296px;
}